.container-fluid {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.row,
.col {
  margin-left: 0;
  margin-right: 0;
}


/* Navbar */
.navbar-brand{
  margin-left: 3%;
}
.navbar-toggler{
  margin-right: 3%;
}

/* Landing page */
.landing-page {
  height: 80vh;
}
.landing-background {
  background-image: url(./assets/hex-textured-background-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  background-blend-mode: color-dodge;
  border: none;
  box-shadow: inset 0px -35px 50px 70px #1a1a1a
}
.col-l{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10%;

}
.landing-page-heading{
  font-size: 3em;
}
.typed-cursor{
    font-size: 1.3em;
}
.typed-cursor,#autoTyped{
  color: #d4d47d
}
.arrow{
  text-align: justify;
  vertical-align: bottom;
}
.link-icons{
  transition: 500ms;
}
.link-icons:hover{
  color: #fff;
}
.large{
  font-size: 3em;
}

/* Technologies */
.tech-row{
  height: fit-content;
}

/* Hexagon */
.hex-main {
  /* position: absolute;
  margin-top: 35px;
  margin-left: 110px; */
  display: flex;
    --s: 160px;
    /* size  */
    --r: 1;
    /* ratio */
    /* clip-path parameter */
    --hc: 3px;
    --vc: 60px;
    --m: 1px;
    /* vertical margin */
    --mh: calc(var(--m) + (var(--s) - 2*var(--hc))/2);
    /* horizontal margin */
    --f: calc(2*var(--s) + 4*var(--m) - 2*var(--vc) - 2px);
}
.hex-container {
  font-size: 0;
  margin-bottom: 15%;
  /* disable white space between inline block element */
}
.hex-container div {
  position: relative;
  transition: 1000ms;
  width: var(--s);
  margin: var(--m) var(--mh);
  height: calc(var(--s)*var(--r));
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 50%, 25% 100%, 75% 100%, 100% 50%, 75% 0%, 25% 0%);
  margin-bottom: calc(var(--m) - var(--vc));
  border: none;
  background-color: #00eaff00;
  box-shadow: inset 0px 0px 30px 30px #1c46ff1a;
}
.hex-container div:hover {
  scale: 1.2;
  color: #fff;
  box-shadow: inset 0px 0px 30px 30px #1c46ff5e;
}
.hex-container::before {
  content: "";
  width: calc(var(--s)/2 + var(--mh));
  float: left;
  height: 100%;
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}
.icon-hex{
  position: absolute;
  top: 42px;
  left: 45px;
  font-size: 5rem;
}

/* Projects */

.card-body video{
  width: 100%;
}


/* Utility classes */
.pointer:hover{
  cursor: pointer;
}
