/* .container-fluid {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
} */
*{
  box-sizing: border-box !important;
  scrollbar-width: none;
  border: 1px red dotted;
}
html{
  width: 100%;
}
.row,
.col {
  margin-left: 0;
  margin-right: 0;
}
a{
  text-decoration: none;
}

/* Navbar */
nav.navbar{
  padding-top: 10px;
}
.navbar-brand{
  margin-left: 3%;
}
.navbar-toggler{
  margin-right: 3%;
}

/* Landing page */
.landing-page {
  height: 80vh;

}
.landing-background {
  background-image: url(./assets/hex-textured-background-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  background-blend-mode: color-dodge;
  border: none;
  box-shadow: inset 0px -35px 50px 70px #1a1a1a
}
.col-l{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 12%;

}
.myName{
  font-size: 3em;
  color: #ce9178 !important;
}
h3.landing-page-heading{
  color: #6a9955;
}
.landing-page-heading{
  font-size: 3em;
}
.typed-cursor{
  font-size: 1.3em;
}
.typed-cursor,#autoTyped{
  color: #d4d47d
}
.arrow{
  text-align: justify;
  vertical-align: bottom;
}
.link-icons{
  transition: 500ms;
}
.link-icons:hover{
  color: #fff;
}
.large{
  font-size: 3em;
}

/* Technologies */
.tech-row{
  height: fit-content;
}

/* Hexagon */
.hex-main {
  display: flex;
    --s: 160px;
    /* size  */
    --r: 1;
    /* ratio */
    /* clip-path parameter */
    --hc: 3px;
    --vc: 60px;
    --m: 1px;
    /* vertical margin */
    --mh: calc(var(--m) + (var(--s) - 2*var(--hc))/2);
    /* horizontal margin */
    --f: calc(2*var(--s) + 4*var(--m) - 2*var(--vc) - 2px);
}
.hex-container {
  max-width: 1500px;
  font-size: 0;
  margin-bottom: 7%;
  /* disable white space between inline block element */
}
.hex-container div {
  position: relative;
  transition: 1000ms;
  width: var(--s);
  margin: var(--m) var(--mh);
  height: calc(var(--s)*var(--r));
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 50%, 25% 100%, 75% 100%, 100% 50%, 75% 0%, 25% 0%);
  margin-bottom: calc(var(--m) - var(--vc));
  border: none;
  background-color: #00eaff00;
  box-shadow: inset 0px 0px 30px 30px #1c46ff1a;
}
.hex-container div:hover {
  scale: 1.2;
  color: #fff;
  box-shadow: inset 0px 0px 30px 30px #1c46ff5e;
}
.hex-container::before {
  content: "";
  width: calc(var(--s)/2 + var(--mh));
  float: left;
  height: 100%;
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}
.icon-hex{
  position: absolute;
  top: 42px;
  left: 45px;
  font-size: 5rem;
}
.html5{
  top: 45px;
  left: 50px;
}
.css3{
  top: 45px;
  left: 44px;
}
.bootstrap{
  top: 41px;
  left: 36px;
}
.vue{
  top: 45px;
  left: 45px;
}
svg.icon-hex.c{
  fill: #adb5bd;
  transition: 500ms;
  top: 25px;
  left: 25px;
  width: 7rem;
  height: 7rem;
}
svg.icon-hex.ts {
  fill: #adb5bd;
  transition: 500ms;
  top: 45px;
  left: 46px;
  width: 4.4rem;
  height: 4.4rem;
}
svg.icon-hex:hover{
  fill: #fff;
}

/* Projects */

.card-body video{
  width: 100%;
}


/* Utility classes */
.pointer:hover{
  cursor: pointer;
}
.mt-5{
  margin-top: 50px;
}
.mb-5{
  margin-bottom: 50px;
}

/* Media */

@media (min-width: 2400px) {
.container-fluid{
    padding: 0% 20%;
}
}
@media (max-width: 2399px) {
.container-fluid{
    padding: 0% 10%;
}
}
@media (max-width: 1800px) {
.container-fluid{
  padding: 0% 5%;
}
}
@media (max-width: 1542px) {
  .hex-container {
    margin-bottom: 10%;
  }
}
@media (max-width: 1400px) {
.container-fluid{
  padding: 0%;
}
}

@media (max-width: 1200px) {
.project-card-row{
  width: 78%;
  margin: auto;
}
}

@media (max-width: 1200px) {
  .col-l {
    padding-top: 2%;
  }
}
@media (max-width: 875px) {
.hex-container {
  margin-bottom: 25%;
}
.project-card-row {
  width: 100%;
}
}
@media (max-width: 874px) {
  .hex-container {
    margin-bottom: 25%;
  }
}
@media (max-width: 767px) {
  .landing-page-heading {
    font-size: 2rem;
  }
  .large{
    font-size: 2rem;
  }
}
@media (max-width: 675px) {
  .hex-container {
    margin-bottom: 10%;
  }
}
@media (max-width: 498px) {
  .hex-container {
    margin-bottom: 40%;
    height: 1412px;
  }
}
@media (max-width: 438px) {
  .landing-page-heading {
      font-size: 1.8rem;
    }
}




/* @media (min-width: 1640px) {
  .hex-container {
    margin-left: 7%;
  }
}
@media (min-width: 1740px) {
  .hex-container {
    margin-left: 10%;
  }
}
@media (min-width: 1740px) {
  .hex-container {
    margin-left: 10%;
  }
}
@media (min-width: 1870px) {
  .hex-container {
    margin-left: 13%;
  }
}
@media (min-width: 2030px) {
  .hex-container {
    margin-left: 15%;
  }
}
@media (min-width: 2220px) {
  .hex-container {
    margin-left: 20%;
  }
}
@media (min-width: 2500px) {
  .hex-container {
    margin-left: 24%;
  }
} */
